@using WebAdminTemplate.Model;
@model IEnumerable<GPFData>;

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Monthly GPF Processing</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item active">Monthly GPF</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Fixed Header Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <a  asp-area="admin" asp-controller="gpf" asp-action="create" class="btn btn-info float-right">Create</a>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>Employee No.</th>
                      <th>Processing Date</th>
                      <th>Employee Type</th>
                      <th>Member Contribution</th>
                      <th>GPFAmount</th>
                    </tr>
                  </thead>
                  <tbody>
                     @foreach (var item in Model) {
                          
                    <tr>
                      <td> @item.EmployeeId</td>
                      <td>@item.ProcessingDate</td>
                      <td>@item.EmployeeType</td>
                      <td>@item.MemberContribution</td>
                      <td>@item.GPFAmount</td>
                    </tr>
                     }
                    </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
</section>
<!-- /.content -->